<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sticky memo</title>
  </head>
  <body>
    <div class="wrap">
      <header>
        <button type="button" class="new-btn">새 메모</button>
        <a href= "{% url 'main' %}" class=exit-btn">나가기</a>
      </header>

    </div>
    {% block get_all_memo %}{%end block%}
  </body>
  <script src="./js/memo.js"></script>
</html>
